@import "../../styles/global.css";
.header {
  width: 100%;
}

.headerContent {
  display: flex;
  flex-direction: column;
}

.headerTop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 125px;
}

.headerTopContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerLogo {
  display: flex;
}

.headerLogoLink {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logoImg {
  width: 22px;
  height: 41px;
}

.mainHeading {
  font-size: 1.5rem;
}

.headerContacts {
  display: flex;
  align-items: center;
  gap: 20px;
}

.contactsText {
  font-style: 1rem;
  color: var(--header-text-color);
}

.headerContactsMessengers {
  display: flex;
  gap: 10px;
}

.phoneLink {
  font-style: 1rem;
  color: var(--header-text-color);
}

.headerBottom {
  display: flex;
  align-items: center;
  height: 68px;
  background-color: var(--primary-color);
}

.headerBottomContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.headerMenuList {
  display: flex;
  gap: 20px;
}

.headerMenuItem {
  padding: 10px;

  &:hover {
    background-color: var(--secondary-color-opacity);
  }
}

.headerMenuLink {
  color: var(--secondary-color);
}

.burgerCheckbox {
  position: absolute;
  visibility: hidden;
}

.burgerIcon {
  position: relative;
  display: none;
  width: 40px;
  height: 25px;
  background: transparent;
  border: none;
  cursor: pointer;

  &::after,
  &::before {
    content: "";
    position: absolute;
    left: 10px;
    display: block;
    width: 100%;
    height: 5px;
    border-radius: 10px;
    background: var(--secondary-color);
  }

  &::before {
    top: 0;
    box-shadow: 0 10px 0 var(--secondary-color);
    transition: box-shadow 0.3s 0.15s, top 0.3s 0.15s, transform 0.3s;
  }

  &::after {
    bottom: 0;
    transition: bottom 0.3s 0.15s, transform 0.3s;
  }
}

.burgerCheckbox:checked + .burgerIcon::before {
  top: 10px;
  transform: rotate(45deg);
  box-shadow: 0 5px 0 rgba(255, 255, 255, 0);
  transition: box-shadow 0.15s, top 0.3s, transform 0.3s 0.15s;
}
.burgerCheckbox:checked + .burgerIcon::after {
  bottom: 10px;
  transform: rotate(-45deg);
  transition: bottom 0.3s, transform 0.3s 0.15s;
}

@media screen and (max-width: 618px) {
  .headerBottomContent {
    position: relative;
  }

  .headerMenu {
    position: absolute;
    top: 0;
    left: 0;
    padding: 45px 10px 10px 10px;
    width: 250px;
    transform: translateX(-100%);
    background: var(--primary-color);
    z-index: 2;
    transition: transform 0.3s;
  }

  .headerMenuList {
    flex-direction: column;
  }

  .burgerIcon {
    display: block;
    z-index: 10;
  }

  .burgerCheckbox:checked ~ .headerMenu {
    transform: translateX(0);
  }
}
