@import "../../styles/global.css";

.nets {
  padding: 10px;
  width: 100%;
  background-color: var(--section-background);
}

.netsContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.netsCards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
}
