@import "../../styles/global.css";

.netTypes {
  margin-bottom: 25px;
}

.netTypesContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.netTypesCards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
