@import "../../styles/global.css";

.progressBar {
  display: flex;
  gap: 2px;
  width: 100%;
}

.progressBarCell {
  display: block;
  width: 10%;
  height: 10px;
  &:nth-child(1) {
    border-radius: 10px 0 0 10px;
  }
  &:last-child {
    border-radius: 0 10px 10px 0;
  }
}

.progressBarCellFill {
  background-color: var(--progress-bar-cell-background);
}
.progressBarCellEmpty {
  background-color: var(--progress-bar-background);
}
