@import url("./vars.css");

/* src/global.css */
@font-face {
  font-family: "Roboto Flex";
  src: url("../assets/fonts/roboto_flex.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: var(--primary-font);
}

body,
ul,
li,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.container {
  width: 1160px;
  margin: 0 auto;
}
