:root {
  --primary-color: #234888;
  --secondary-color: #ffffff;
  --secondary-color-opacity: #ffffff40;
  --text-color: #000000;
  --section-background: #d3dce0;
  --header-text-color: #646464;
  --background-color: #4393f7;
  --primary-font: "Roboto Flex";
  --btn-background: #6ad110;
  --btn-background-hover: #8adc43;
  --progress-bar-background: #e9e9e9;
  --progress-bar-cell-background: #234888;
  --number-field-border-color: #4c78c4;
  --number-field-border-color-focus: #234888;
  --number-field-placeholder-color: #94bbff;
  --close-btn-icon-color: #94bbff;
  --close-btn-icon-color-hover: #234888;
}
