@import "../../styles/global.css";

.banner {
  width: 100%;
}

.bannerContent {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.bannerText {
  color: var(--text-color);
  font-size: 1.5rem;
}

.bannerImg {
  max-width: 100%;
}
